<div class="container">
  <h1 style=" font-size: 4em; line-height: 1em;" align="center">Pendaftaran</h1>
  <% if(flash) { %>
  <% if(flash.err) { %>
        <div>
          <br><br>
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
              <% Object.keys(flash.err).forEach(function(error) { %>
                    <%= flash.err[error] %>
              <% }) %>
            </div>
        </div>
  <% } else if (flash.success){ %>
    <div>
    <br><br>
    <div class="alert alert-success" role="alert">
      <span class="sr-only">Success:</span>
      <% Object.keys(flash.success).forEach(function(success) { %>
            <%= flash.success[success] %>
      <% }) %>
    </div>
    </div>
  <% } %>
  <% } %>
<div class="row">
  <form method="post" style="padding-left:10px; padding-right:10px" action="/user/applydocuments" role="form">
    <div class="col-md-4" style="width: 27.333333%; margin-top: 10px;">
      <div class="panel panel-primary">
          <div class="panel-heading">
            <h2 class="panel-title">Isi detail topik di bawah ini</h2>
          </div>
          <div class="panel-body">
          
          <a class="external" href="/user/dashboard"><button type="button" id="send" style="width:100%; margin-top: 0px;" class="btn">Profil</button></a>
          <a class="external" href="/user/grade"><button type="button" id="send" style="width:100%" class="btn">Tingkatan</button></a>
          <a class="external" href="/user/documents"><button type="button" autofocus id="send" style="width:100%" class="btn btn-active btn-default">Dokumen</button>
          </a>
          </div>
        </div>
    </div>
    <div class="col-md-4" style="width: 72.333333%;margin-top: 10px;">
      <div class="panel panel-primary">
          <div class="panel-heading">
            <h2 class="panel-title">Dokumen - Unggah dokumen Anda di bawah ini</h2>
          </div>
          <div class="panel-body">

                <div class="form-group">
                <label class="control-label col-lg-4 required">Akte Lahir &#42;</label>
                <div class="col-lg-8">
                  <input type="file" accept="image/jpeg" id="file1" onchange="previewFile1()">
                  <% if (user.files[0]) { %>
                    <label><%=user.files[0].name%></label>
                    <button onclick="imageView1()">Lihat File</button>
                    <img id="akte">
                  <% } else { %>
                    <label>Belum ada dokumen</label>
                  <% } %>
                </div>
                </div>
                <br><br>
                <div class="form-group">
                <label class="control-label col-lg-4 required">Ijazah &#42;</label>
                <div class="col-lg-8">
                  <input type="file" accept="image/jpeg" id="file2" onchange="previewFile2()">
                  <% if (user.files[1]) { %>
                    <label><%=user.files[1].name%></label>
                    <button onclick="imageView2()">Lihat File</button>
                    <img id="ijazah">
                  <% } else { %>
                    <label>Belum ada dokumen</label>
                  <% } %>
                </div>
                </div>
                <br><br>
                <div class="form-group">
                <label class="control-label col-lg-4 required">Pas Foto &#42;</label>
                <div class="col-lg-8">
                  <input type="file" accept="image/jpeg" id="file3" onchange="previewFile3()">
                  <% if (user.files[2]) { %>
                    <label><%=user.files[2].name%></label>
                    <button onclick="imageView3()">Lihat File</button>
                    <img id="pasfoto">
                  <% } else { %>
                    <label>Belum ada dokumen</label>
                  <% } %>
                </div>
                </div>
                <br><br>
                <div class="form-group">
                <label class="control-label col-lg-4 required">Rapor (Terakhir) &#42;</label>
                <div class="col-lg-8">
                  <input type="file" accept="image/jpeg" id="file4" onchange="previewFile4()">
                  <% if (user.files[3]) { %>
                    <label><%=user.files[3].name%></label>
                    <button onclick="imageView4()">Lihat File</button>
                    <img id="rapor">
                  <% } else { %>
                    <label>Belum ada dokumen</label>
                  <% } %>
                </div>
                </div>
                <% if (user.files[0]) { %>
                  <input type="hidden" name="file_name_1" id="filename1" value="<%=user.files[0].name%>">
                  <input type="hidden" name="file_url_1" id="fileurl1" value="<%=user.files[0].url%>">
                <% } else { %>
                  <input type="hidden" name="file_name_1" id="filename1" value="">
                  <input type="hidden" name="file_url_1" id="fileurl1" value="">
                <% } %>
               <% if (user.files[1]) { %>
                  <input type="hidden" name="file_name_2" id="filename2" value="<%=user.files[1].name%>">
                  <input type="hidden" name="file_url_2" id="fileurl2" value="<%=user.files[1].url%>">
                <% } else { %>
                  <input type="hidden" name="file_name_2" id="filename2" value="">
                  <input type="hidden" name="file_url_2" id="fileurl2" value="">
                <% } %>
                <% if (user.files[2]) { %>
                  <input type="hidden" name="file_name_3" id="filename3" value="<%=user.files[2].name%>">
                  <input type="hidden" name="file_url_3" id="fileurl3" value="<%=user.files[2].url%>">
                <% } else { %>
                  <input type="hidden" name="file_name_3" id="filename3" value="">
                  <input type="hidden" name="file_url_3" id="fileurl3" value="">
                <% } %>
                <% if (user.files[3]) { %>
                  <input type="hidden" name="file_name_4" id="filename4" value="<%=user.files[3].name%>">
                  <input type="hidden" name="file_url_4" id="fileurl4" value="<%=user.files[3].url%>">
                <% } else { %>
                  <input type="hidden" name="file_name_4" id="filename4" value="">
                  <input type="hidden" name="file_url_4" id="fileurl4" value="">
                <% } %>
                <div class="form-group">
                <button type="submit" id="send" class="btn-color btn btn-primary" style="width:100px; float: right; margin-top: 0px;">Kirim</button>
                </div>                
          </div>
          
          
        </div>
    </div>
    
  </form>
</div>
<hr style="border:1px solid black;">
<h2 class="text-center">Status : <span id="status">
<% if(user.status==0) { %>
  Pending
<% } else if(user.status==1) { %>
  Verified
<% } else if(user.status==2) { %>
   Denied
<% } else if(user.status==3) { %>
   Passed
<% } else if(user.status==4) { %>
   Failed
<% } %>
</span>
</h2>
<h2 class="text-center">Remarks : <span id="remarks">
<% if(typeof (user.verifyremarks) != "undefined") { %>
  <label><%=user.verifyremarks%></label>
<% } %>
</span>
</h2>
<br><br><br>
</div>
<script type="text/javascript">
function previewFile1(){
  var file1    = document.getElementById('file1').files[0];
  var reader  = new FileReader();
  var file_url_1 = document.querySelector('#fileurl1');
  var file_name_1 = document.querySelector('#filename1');
  reader.onload = function () {
      file_url_1.value = reader.result;
  }
  if (file1) {
      if(file1.type!="image/jpeg")
      {
        $('#file1').val("");
        alert("File yang diupload harus dalam bentuk JPG ataupun JPEG.");
        return;
      }
      if(file1.size>=2000000)
      {
          $('#file1').val("");
          alert("File yang diupload tidak boleh lebih dari 2 MB.");
          return;
      }
      else {
        file_name_1.value = file1.name;
        reader.readAsDataURL(file1); 
      }
  }
}
function previewFile2(){
  var file2    = document.getElementById('file2').files[0];
  var reader  = new FileReader();
  var file_url_2 = document.querySelector('#fileurl2');
  var file_name_2 = document.querySelector('#filename2');
  reader.onload = function () {
      file_url_2.value = reader.result;
  }
  if (file2) {
      if(file2.type!="image/jpeg")
      {
        $('#file2').val("");
        alert("File yang diupload harus dalam bentuk JPG ataupun JPEG.");
        return;
      }
      if(file2.size>=2000000)
      {
          $('#file2').val("");
          alert("File yang diupload tidak boleh lebih dari 2 MB.");
          file_name_2.value = "";
          file_url_2.value = "";
          return;
      }
      else {
        file_name_2.value = file2.name;
        reader.readAsDataURL(file2); 
      }
  }
}
function previewFile3(){
  var file3    = document.getElementById('file3').files[0];
  var reader  = new FileReader();
  var file_url_3 = document.querySelector('#fileurl3');
  var file_name_3 = document.querySelector('#filename3');
  reader.onload = function () {
      file_url_3.value = reader.result;
  }
  if (file3) {
      if(file3.type!="image/jpeg")
      {
        $('#file3').val("");
        alert("File yang diupload harus dalam bentuk JPG ataupun JPEG.");
        return;
      }
      if(file3.size>=2000000)
      {
          $('#file3').val("");
          alert("File yang diupload tidak boleh lebih dari 2 MB.");
          file_name_3.value = "";
          file_url_3.value = "";
          return;
      }
      else {
        file_name_3.value = file3.name;
        reader.readAsDataURL(file3); 
      }
  }
}
function previewFile4(){
  var file4    = document.getElementById('file4').files[0];
  var reader  = new FileReader();
  var file_url_4 = document.querySelector('#fileurl4');
  var file_name_4 = document.querySelector('#filename4');
  reader.onload = function () {
      file_url_4.value = reader.result;
  }
  if (file4) {
      if(file4.type!="image/jpeg")
      {
        $('#file4').val("");
        alert("File yang diupload harus dalam bentuk JPG ataupun JPEG.");
        return;
      }
      if(file4.size>=2000000)
      {
          $('#file4').val("");
          alert("File yang diupload tidak boleh lebih dari 2 MB.");
          file_name_4.value = "";
          file_url_4.value = "";
          return;
      }
      else {
        file_name_4.value = file4.name;
        reader.readAsDataURL(file4); 
      }
  }
}
function imageView1(){
  var output = document.getElementById('akte');
  var url1 = document.querySelector('#fileurl1');
  output.src = url1.value;
  output.style = "width:200px;height:200px;";
}
function imageView2(){
  var output = document.getElementById('ijazah');
  var url2 = document.querySelector('#fileurl2');
  output.src = url2.value;
  output.style = "width:200px;height:200px;";
}
function imageView3(){
  var output = document.getElementById('pasfoto');
  var url3 = document.querySelector('#fileurl3');
  output.src = url3.value;
  output.style = "width:200px;height:200px;";
}
function imageView4(){
  var output = document.getElementById('rapor');
  var url4 = document.querySelector('#fileurl4');
  output.src = url4.value;
  output.style = "width:200px;height:200px;";
}
</script>

