<div class="container">
  <h2 class="special_font" align="center">Pendaftaran</h2>
  <% if(flash) { %>
  <% if(flash.err) { %>
        <div>
          <br><br>
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
              <% Object.keys(flash.err).forEach(function(error) { %>
                    <%= flash.err[error] %>
              <% }) %>
            </div>
        </div>
  <% } else if (flash.success){ %>
    <div>
    <br><br>
    <div class="alert alert-success" role="alert">
      <span class="sr-only">Success:</span>
      <% Object.keys(flash.success).forEach(function(success) { %>
            <%= flash.success[success] %>
      <% }) %>
    </div>
    </div>
  <% } %>
  <% } %>
<div class="row">
  <form method="post" style="padding-left:10px; padding-right:10px" action="/user/applydocuments" role="form">
    <div class="col-md-4" style="width: 27.333333%;">
      <div class="panel panel-primary">
          <div class="panel-heading">
            <h2 class="panel-title">Isi detail topik di bawah ini</h2>
          </div>
          <div class="panel-body">
          
          <a class="external" href="/user/dashboard"><button type="button" id="send" style="width:100%; margin-top: 0px;" class="btn">Profil</button></a>
          <a class="external" href="/user/grade"><button type="button" id="send" style="width:100%" class="btn">Tingkatan</button></a>
          <a class="external" href="/user/documents"><button type="button" autofocus id="send" style="width:100%" class="btn btn-active btn-default">Dokumen</button>
          </a>
            <!-- <div class="form-group">
              <select class="btn btn-default" name="grade" style="width:100%">
                        <option value="0">SMP 1</p>
                        <option value="1">SMP 2</p>
                        <option value="2">SMP 3</p>
                        <option value="3">SMA 1</p>
                        <option value="4">SMA 2</p>
                        <option value="5">SMA 3</p>
              </select>
            </div> -->
          </div>
        </div>
    </div>
    <div class="col-md-4" style="width: 72.333333%;">
      <div class="panel panel-primary">
          <div class="panel-heading">
            <h2 class="panel-title">Dokumen - Unggah dokumen Anda di bawah ini</h2>
          </div>
          <div class="panel-body">

                <div class="form-group">
                <label class="control-label col-lg-4 required">Akte Lahir &#42;</label>
                <div class="col-lg-8">
                  <input type="file" accept="image/*" id="file1" onchange="previewFile1()">
                  <% if (user.files[0].name != "") { %>
                    <label><%=user.files[0].name%></label>
                  <% } else { %>
                    <label>Belum ada dokumen</label>
                  <% } %>
                  <br>
                  <% if (user.files[0].url != "") { %>
                    <img style="width:200px; height:200px;" id="ijazah" src="<%=user.files[0].url%>">
                  <% } else { %>
                    <img id="ijazah">
                  <% } %>
                </div>

                </div>
                <br><br>
                <div class="form-group">
                <label class="control-label col-lg-4 required">Ijazah &#42;</label>
                <div class="col-lg-8">
                  <input type="file" accept="image/*" id="file2" onchange="previewFile2()">
                  <% if (user.files[1].name != "") { %>
                    <label><%=user.files[1].name%></label>
                  <% } else { %>
                    <label>Belum ada dokumen</label>
                  <% } %>
                  <br>
                  <% if (user.files[1].url != "") { %>
                    <img style="width:200px; height:200px;" id="aktelahir" src="<%=user.files[1].url%>">
                  <% } else { %>
                    <img id="aktelahir">
                  <% } %>
                </div>
                </div>
                <br><br>
                <div class="form-group">
                <label class="control-label col-lg-4 required">Dokumen Pendukung 1 </label>
                <div class="col-lg-8">
                  <input type="file" accept="image/*" id="file3" onchange="previewFile3()">
                  <% if (user.files[2].name != "") { %>
                    <label><%=user.files[2].name%></label>
                  <% } else { %>
                    <label>Belum ada dokumen</label>
                  <% } %>
                  <br>
                  <% if (user.files[2].url != "") { %>
                    <img style="width:200px; height:200px;" id="dok1" src="<%=user.files[2].url%>">
                  <% } else { %>
                    <img id="dok1">
                  <% } %>
                </div>
                </div>
                <br><br>
                <div class="form-group">
                <label class="control-label col-lg-4 required">Dokumen Pendukung 2 </label>
                <div class="col-lg-8">
                  <input type="file" accept="image/*" id="file4" onchange="previewFile4()">
                  <% if (user.files[3].name != "") { %>
                    <label><%=user.files[3].name%></label>
                  <% } else { %>
                    <label>Belum ada dokumen</label>
                  <% } %>
                  <br>
                  <% if (user.files[3].url != "") { %>
                    <img style="width:200px; height:200px;" id="dok2" src="<%=user.files[3].url%>">
                  <% } else { %>
                    <img id="dok2">
                  <% } %>
                </div>
                </div>
                <input type="hidden" name="file_name_1" id="filename1" value="<%=user.files[0].name%>">
                <input type="hidden" name="file_url_1" id="fileurl1" value="<%=user.files[0].url%>">
                <input type="hidden" name="file_name_2" id="filename2" value="<%=user.files[1].name%>">
                <input type="hidden" name="file_url_2" id="fileurl2" value="<%=user.files[1].url%>">
                <input type="hidden" name="file_name_3" id="filename3" value="<%=user.files[2].name%>">
                <input type="hidden" name="file_url_3" id="fileurl3" value="<%=user.files[2].url%>">
                <input type="hidden" name="file_name_4" id="filename4" value="<%=user.files[3].name%>">
                <input type="hidden" name="file_url_4" id="fileurl4" value="<%=user.files[3].url%>">
                <div class="form-group">
                <button type="submit" id="send" class="btn-color btn btn-primary" style="width:100px; float: right; margin-top: 0px;">Kirim</button>
                </div>                
          </div>
          
          
        </div>
    </div>
    
  </form>
</div>
<hr style="border:1px solid black;">
<h2 class="text-center">Status : <span id="status">
<% if(user.status==0) { %>
  Pending
<% } else if(user.status==1) { %>
  Verified
<% } else if(user.status==2) { %>
   Denied
<% } else if(user.status==3) { %>
   Passed
<% } else if(user.status==4) { %>
   Failed
<% } %>
</span>
</h2>
<h2 class="text-center">Remarks : <span id="remarks">
<% if(typeof (user.verifyremarks) != "undefined") { %>
  <label><%=user.verifyremarks%></label>
<% } %>
</span>
</h2>
<br><br><br>
</div>
<script type="text/javascript">
function previewFile1(){
  var file1    = document.getElementById('file1').files[0];
  var reader  = new FileReader();
  var file_url_1 = document.querySelector('#fileurl1');
  var file_name_1 = document.querySelector('#filename1');
  reader.onload = function () {
      file_url_1.value = reader.result;
      var output = document.getElementById('ijazah');
      output.src = file_url_1.value;
      output.style = "width:200px;height:200px;";
  }
  if (file1) {
      // if(file.type!="application/zip" && file.type!="application/x-rar")
      // {
      //   $('#file1').val("");
      //   alert("File yang diupload harus dalam bentuk RAR ataupun ZIP.");
      //   file_name_1.value = "";
      //   file_url_1.value = "";
      //   return;
      // }
      if(file1.size>=2000000)
      {
          $('#file1').val("");
          alert("File yang diupload tidak boleh lebih dari 2 MB.");
          file_name_1.value = "";
          file_url_1.value = "";
          return;
      }
      else {
        file_name_1.value = file1.name;
        reader.readAsDataURL(file1); //reads the data as a URL
      }
  // } else {
  //   file_name_1.value = "";
  //   file_url_1.value = "";
  }
}
function previewFile2(){
  var file2    = document.getElementById('file2').files[0];
  var reader  = new FileReader();
  var file_url_2 = document.querySelector('#fileurl2');
  var file_name_2 = document.querySelector('#filename2');
  reader.onload = function () {
      file_url_2.value = reader.result;
      var output = document.getElementById('aktelahir');
      output.src = file_url_2.value;
      output.style = "width:200px;height:200px;";
  }
  if (file2) {
      // if(file.type!="application/zip" && file.type!="application/x-rar")
      // {
      //   $('#file1').val("");
      //   alert("File yang diupload harus dalam bentuk RAR ataupun ZIP.");
      //   file_name_1.value = "";
      //   file_url_1.value = "";
      //   return;
      // }
      if(file2.size>=2000000)
      {
          $('#file2').val("");
          alert("File yang diupload tidak boleh lebih dari 2 MB.");
          file_name_2.value = "";
          file_url_2.value = "";
          return;
      }
      else {
        file_name_2.value = file2.name;
        reader.readAsDataURL(file2); //reads the data as a URL
      }
  // } else {
  //   file_name_2.value = "";
  //   file_url_2.value = "";
  }
}
function previewFile3(){
  var file3    = document.getElementById('file3').files[0];
  var reader  = new FileReader();
  var file_url_3 = document.querySelector('#fileurl3');
  var file_name_3 = document.querySelector('#filename3');
  reader.onload = function () {
      file_url_3.value = reader.result;
      var output = document.getElementById('dok1');
      output.src = file_url_3.value;
      output.style = "width:200px;height:200px;";
  }
  if (file3) {
      // if(file.type!="application/zip" && file.type!="application/x-rar")
      // {
      //   $('#file1').val("");
      //   alert("File yang diupload harus dalam bentuk RAR ataupun ZIP.");
      //   file_name_1.value = "";
      //   file_url_1.value = "";
      //   return;
      // }
      if(file3.size>=2000000)
      {
          $('#file3').val("");
          alert("File yang diupload tidak boleh lebih dari 2 MB.");
          file_name_3.value = "";
          file_url_3.value = "";
          return;
      }
      else {
        file_name_3.value = file3.name;
        reader.readAsDataURL(file3); //reads the data as a URL
      }
  // } else {
  //   file_name_3.value = "";
  //   file_url_3.value = "";
  }
}
function previewFile4(){
  var file4    = document.getElementById('file4').files[0];
  var reader  = new FileReader();
  var file_url_4 = document.querySelector('#fileurl4');
  var file_name_4 = document.querySelector('#filename4');
  reader.onload = function () {
      file_url_4.value = reader.result;
      var output = document.getElementById('dok2');
      output.src = file_url_4.value;
      output.style = "width:200px;height:200px;";
  }
  if (file4) {
      // if(file.type!="application/zip" && file.type!="application/x-rar")
      // {
      //   $('#file1').val("");
      //   alert("File yang diupload harus dalam bentuk RAR ataupun ZIP.");
      //   file_name_1.value = "";
      //   file_url_1.value = "";
      //   return;
      // }
      if(file4.size>=2000000)
      {
          $('#file4').val("");
          alert("File yang diupload tidak boleh lebih dari 2 MB.");
          file_name_4.value = "";
          file_url_4.value = "";
          return;
      }
      else {
        file_name_4.value = file4.name;
        reader.readAsDataURL(file4); //reads the data as a URL
      }
  // } else {
  //   file_name_4.value = "";
  //   file_url_4.value = "";
  }
}
</script>

