        <div class="container text-center">
            <div class="row">

                <article class="item col-xs-12 col-sm-6 col-lg-12 ">
                    
                    <div class="col-sm-12 col-lg-7 info_text" style="width: 1140px;">
                    <h1 style=" font-size: 3em; line-height: 1em;font-weight: bold;  " align="center">Statistik Pendaftar</h1>
                        <h3 align="center">Jumlah Pendaftar : <%=user.totaldaftar%></h3>
                        <h3 align="center">Jumlah Status "Pending" : <%=user.totalpending%></h3>
                        <h3 align="center">Jumlah Status "Verified" : <%=user.totalverified%></h3>
                        <h3 align="center">Jumlah Status "Denied" : <%=user.totaldenied%></h3>
                        <h3 align="center">Jumlah Status "Passed" : <%=user.totalpassed%></h3>
                        <h3 align="center">Jumlah Status "Failed" : <%=user.totalfailed%></h3>
                        <!-- <h3 align="center">Total Peserta Ujian Tanggal 06-Agustus-2016 : <%=user.totalujian1%></h3>
                        <h3 align="center">Total Peserta Ujian Tanggal 20-Agustus-2016 : <%=user.totalujian2%></h3>
                        <h3 align="center">Total Peserta Ujian Tanggal 03-September-2016 : <%=user.totalujian3%></h3>
                        <h3 align="center">Total Peserta Ujian Tanggal 17-September-2016 : <%=user.totalujian4%></h3>
                        <h3 align="center">Total Peserta Ujian Tanggal 01-Oktober-2016 : <%=user.totalujian5%></h3>
                        <h3 align="center">Total Peserta Ujian Tanggal 15-Oktober-2016 : <%=user.totalujian6%></h3>
                        <h3 align="center">Total Peserta Ujian Tanggal 29-Oktober-2016 : <%=user.totalujian7%></h3>
                        <h3 align="center">Total Peserta Ujian Tanggal 12-November-2016 : <%=user.totalujian8%></h3> -->
                    </div>
                </article>

                
            </div>
        </div>







   