<div class="container">
  <h2 class="special_font" align="center">Verifikasi Dokumen</h2>
 <div class="row">
  <form method="post" style="padding-left:10px; padding-right:10px" action="/user/verifyuser/<%=user.id%>" role="form">
    <div class="col-md-4" style="width: 27.333333%;">
      <div class="panel panel-primary">
          <div class="panel-heading">
            <h2 class="panel-title">Profil</h2>
          </div>
          <div class="panel-body">
          <p>No. USM: <%=user.nousm%></p>
          <p>Nama: <%=user.name%></p>
          <p>Alamat: <%=user.address%></p>
          <p>Tempat Lahir: <%=user.placebirth%></p>
          <p>Tanggal Lahir: <%=user.datebirth%></p>
          <p>Jenis Kelamin: 
          <% if (user.gender == "m") { %>
            Laki-Laki
          <% } else if (user.gender == "f") { %>
            Perempuan
          <% } %>
          </p>
          <p>Email: <%=user.email%></p>
          <p>No. Telepon: <%=user.phone%></p>
          <p>No. Handphone: <%=user.handphone%></p>
          <p>Nama Ayah: <%=user.fathername%></p>
          <p>Pekerjaan Ayah: <%=user.fatheroccupation%></p>
          <p>Penghasilan Ayah: <%=user.fathersalary%></p>
          <p>No. Telepon Ayah: <%=user.fatherphone%></p>
          <p>Nama Ibu: <%=user.mothername%></p>
          <p>Pekerjaan Ibu: <%=user.motheroccupation%></p>
          <p>Penghasilan Ibu: <%=user.mothersalary%></p>
          <p>No. Telepon Ibu: <%=user.motherphone%></p>
          <p>Jumlah Saudara: <%=user.numbersiblings%></p>
          </div>
        </div>
    </div>
    <div class="col-md-4" style="width: 72.333333%;">
      <div class="panel panel-primary">
          <div class="panel-heading">
            <h2 class="panel-title">Dokumen</h2>
          </div>
          <div class="panel-body">

                <div class="form-group" style="margin-bottom: 0px;">
                <input type="checkbox" name="aktelahir">
                <label class="control-label col-lg-4 required" style="width: 180px;">Akte Lahir &#42;</label>
                <% if (user.files[0].name != "" || user.files[0].name != "undefined") { %>
                  <div class="col-lg-8" >
                    <%=user.files[0].name%>
                  </div>
                  <img src="<%=user.files[0].url%>" style="width:200px; height:200px;">
                <% } else { %>
                  <div class="col-lg-8" >
                    Belum ada dokumen
                  </div>
                <% } %>  
                </div>
                <br><br>
                <div class="form-group" style="margin-bottom: 0px;">
                <input type="checkbox" name="ijazah">
                <label class="control-label col-lg-4 required" style="width: 180px;">Ijazah &#42;</label>
                <% if (user.files[1].name != "" || user.files[1].name != "undefined") { %>
                  <div class="col-lg-8" >
                    <%=user.files[1].name%>
                  </div>
                  <img src="<%=user.files[1].url%>" style="width:200px; height:200px;">
                <% } else { %>
                  <div class="col-lg-8" >
                    Belum ada dokumen
                  </div>
                <% } %>  
                </div>
                <br><br>
                <div class="form-group" style="margin-bottom: 0px;">
                <input type="checkbox" name="dokumenpendukung1">
                <label class="control-label col-lg-4 required" style="width: 180px;">Dokumen Pendukung 1 </label>
                <% if (user.files[2].name != "" || user.files[2].name != "undefined") { %>
                  <div class="col-lg-8" >
                    <%=user.files[2].name%>
                  </div>
                  <img src="<%=user.files[2].url%>" style="width:200px; height:200px;">
                <% } else { %>
                  <div class="col-lg-8" >
                    Belum ada dokumen
                  </div>
                <% } %>  
                </div>
                <br><br>
                <div class="form-group" style="margin-bottom: 0px;">
                <input type="checkbox" name="dokumenpendukung2">
                <label class="control-label col-lg-4 required" style="width: 180px;">Dokumen Pendukung 2 </label>
                <% if (user.files[3].name != "" || typeof(user.files[3].name) != "undefined") { %>
                  <div class="col-lg-8" >
                    <%=user.files[3].name%>
                  </div>
                  <img src="<%=user.files[3].url%>" style="width:200px; height:200px;">
                <% } else { %>
                  <div class="col-lg-8" >
                    Belum ada dokumen
                  </div>
                <% } %>  
                </div>
                <!-- <input type="hidden" name="file_name_1" id="filename1">
                <input type="hidden" name="file_url_1" id="fileurl1">
                <input type="hidden" name="file_name_2" id="filename2">
                <input type="hidden" name="file_url_2" id="fileurl2">
                <input type="hidden" name="file_name_3" id="filename3">
                <input type="hidden" name="file_url_3" id="fileurl3">
                <input type="hidden" name="file_name_4" id="filename4">
                <input type="hidden" name="file_url_4" id="fileurl4"> -->
                <br><br>
                <div class="form-group" style="margin-bottom: 0px;">
                <label class="control-label col-lg-4 required" style="width: 180px;">Remarks </label>
                </div>
                <textarea style="width:500px;" id="verifyremarks" name="verifyremarks" class="form-control" required="required"></textarea>
                </div>
                </div>
                <div class="form-group">
                <button type="submit" id="send" class="btn-color btn btn-primary" style="width:200px; float: right; margin-top: 0px;">Verifikasi</button>
                </div>                        
          </div>
          
          
        </div>
    </div>
    <!-- <div class="col-md-4">
      <div class="panel panel-primary">
          <div class="panel-heading">
            <h2 class="panel-title">Upload your documents below</h2>
          </div>
          <div class="panel-body">
                <div class="form-group">
                <label class="control-label col-lg-4 required">Akte Lahir &#42;</label>
                <div class="col-lg-8">
                  <input type="file" accept="image/*" id="file1" onchange="previewFile1()">
                </div>
                </div>
                <br><br>
                <div class="form-group">
                <label class="control-label col-lg-4 required">Ijazah &#42;</label>
                <div class="col-lg-8">
                  <input type="file" accept="image/*" id="file2" onchange="previewFile2()">
                </div>
                </div>
                <br><br>
                <div class="form-group">
                <label class="control-label col-lg-4 required">Dokumen Pendukung 1 &#42;</label>
                <div class="col-lg-8">
                  <input type="file" accept="image/*" id="file3" onchange="previewFile3()">
                </div>
                </div>
                <br><br><br>
                <div class="form-group">
                <label class="control-label col-lg-4 required">Dokumen Pendukung 2 &#42;</label>
                <div class="col-lg-8">
                  <input type="file" accept="image/*" id="file4" onchange="previewFile4()">
                </div>
                </div>
                <input type="hidden" name="file_name_1" id="filename1">
                <input type="hidden" name="file_url_1" id="fileurl1">
                <input type="hidden" name="file_name_2" id="filename2">
                <input type="hidden" name="file_url_2" id="fileurl2">
                <input type="hidden" name="file_name_3" id="filename3">
                <input type="hidden" name="file_url_3" id="fileurl3">
                <input type="hidden" name="file_name_4" id="filename4">
                <input type="hidden" name="file_url_4" id="fileurl4">
                <div class="form-group">
                <button type="submit" id="send" style="width:100%" class="btn-color btn btn-primary">Submit</button>
                </div>
          </div>
        </div>
    </div> -->
  </form>
</div>

<br><br><br>
</div>
<script type="text/javascript">
function previewFile1(){
  var file1    = document.getElementById('file1').files[0];
  var reader  = new FileReader();
  var file_url_1 = document.querySelector('#fileurl1');
  var file_name_1 = document.querySelector('#filename1');
  reader.onloadend = function () {
      file_url_1.value = reader.result;
  }
  if (file1) {
      // if(file.type!="application/zip" && file.type!="application/x-rar")
      // {
      //   $('#file1').val("");
      //   alert("File yang diupload harus dalam bentuk RAR ataupun ZIP.");
      //   file_name_1.value = "";
      //   file_url_1.value = "";
      //   return;
      // }
      if(file1.size>=10000000)
      {
          $('#file1').val("");
          alert("File yang diupload tidak boleh lebih dari 10 MB.");
          file_name_1.value = "";
          file_url_1.value = "";
          return;
      }
      else {
        file_name_1.value = file1.name;
        reader.readAsDataURL(file1); //reads the data as a URL
      }
    } else {
      file_name_1.value = "";
      file_url_1.value = "";
  }
}
function previewFile2(){
  var file2    = document.getElementById('file2').files[0];
  var reader  = new FileReader();
  var file_url_2 = document.querySelector('#fileurl2');
  var file_name_2 = document.querySelector('#filename2');
  reader.onloadend = function () {
      file_url_2.value = reader.result;
  }
  if (file2) {
      // if(file.type!="application/zip" && file.type!="application/x-rar")
      // {
      //   $('#file1').val("");
      //   alert("File yang diupload harus dalam bentuk RAR ataupun ZIP.");
      //   file_name_1.value = "";
      //   file_url_1.value = "";
      //   return;
      // }
      if(file2.size>=10000000)
      {
          $('#file2').val("");
          alert("File yang diupload tidak boleh lebih dari 10 MB.");
          file_name_2.value = "";
          file_url_2.value = "";
          return;
      }
      else {
        file_name_2.value = file2.name;
        reader.readAsDataURL(file2); //reads the data as a URL
      }
    } else {
      file_name_2.value = "";
      file_url_2.value = "";
  }
}
function previewFile3(){
  var file3    = document.getElementById('file3').files[0];
  var reader  = new FileReader();
  var file_url_3 = document.querySelector('#fileurl3');
  var file_name_3 = document.querySelector('#filename3');
  reader.onloadend = function () {
      file_url_3.value = reader.result;
  }
  if (file3) {
      // if(file.type!="application/zip" && file.type!="application/x-rar")
      // {
      //   $('#file1').val("");
      //   alert("File yang diupload harus dalam bentuk RAR ataupun ZIP.");
      //   file_name_1.value = "";
      //   file_url_1.value = "";
      //   return;
      // }
      if(file3.size>=10000000)
      {
          $('#file3').val("");
          alert("File yang diupload tidak boleh lebih dari 10 MB.");
          file_name_3.value = "";
          file_url_3.value = "";
          return;
      }
      else {
        file_name_3.value = file3.name;
        reader.readAsDataURL(file3); //reads the data as a URL
      }
    } else {
      file_name_3.value = "";
      file_url_3.value = "";
  }
}
function previewFile4(){
  var file4    = document.getElementById('file4').files[0];
  var reader  = new FileReader();
  var file_url_4 = document.querySelector('#fileurl4');
  var file_name_4 = document.querySelector('#filename4');
  reader.onloadend = function () {
      file_url_4.value = reader.result;
  }
  if (file4) {
      // if(file.type!="application/zip" && file.type!="application/x-rar")
      // {
      //   $('#file1').val("");
      //   alert("File yang diupload harus dalam bentuk RAR ataupun ZIP.");
      //   file_name_1.value = "";
      //   file_url_1.value = "";
      //   return;
      // }
      if(file4.size>=10000000)
      {
          $('#file4').val("");
          alert("File yang diupload tidak boleh lebih dari 10 MB.");
          file_name_4.value = "";
          file_url_4.value = "";
          return;
      }
      else {
        file_name_4.value = file4.name;
        reader.readAsDataURL(file4); //reads the data as a URL
      }
    } else {
      file_name_4.value = "";
      file_url_4.value = "";
  }
}
</script>

